<initialize-later>

    <form>
        <input type="text" name="name" />
    </form>

    <script>

        import withFinalForm from '..';

        export default withFinalForm({
            formElement() {
                this.props.element();
                return this.$('form');
            },

            manuallyInitializeFinalForm: true,

            onMounted() {

                this.initialValues = { name: 'tutu' };

                this.props.initializeLater(this);
                this.initializeFinalForm();
            }
        });
    </script>
</initialize-later>
