<default-behavior-form>

    <form></form>

    <script>

        import withFinalForm from '..';

        export default withFinalForm({
            formElement() {
                this.props.element();
                return this.$('form');
            }
        });
    </script>
</default-behavior-form>
