<on-submit-form>

    <form>
        <input type="text" name="name" />
        <input type="text" name="age" />
        <input type="text" name="address" />

        <input type="checkbox" name="shouldntfail" />


        <button type='reset'>Reset</button>
        <button type="submit">Submit</button>
    </form>

    <script>

        import withFinalForm from '..';

        const component = withFinalForm({
            handleAfterSubmit() {
                this.props.fieldConfig();
            },
            onMounted() {
                // Pass the lexical this after Riot has set it for testing
                // afterSubmit functionality
                component.handleAfterSubmit = this.handleAfterSubmit;
            },
            formElement() {
                this.props.element();
                return this.$('form');
            },
            onSubmit(values) {

                this.props.submit('/stuff', values);
            },
            initialValues: {
                name: '',
                age: null,
                address: ''
            },
            validate(values) {
                this.props.validate(values);
                return {};
            },
            onFormChange(formState) {
                this.props.formState(formState);
            },
            onFieldChange(field, fieldState) {
                this.props.fieldState(field, fieldState);
            },
            fieldConfigs: {
                address: {
                    afterSubmit: function () {

                        return component.handleAfterSubmit();
                    }
                }
            }
        });

        export default component
    </script>
</on-submit-form>
